{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'plan/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'plan/style2.css' %}"/>
{% if time == 1 %}
<div id="time_message_wrapper">
	<div class="time_message">
		<div>The changes to the project <strong>'{{ project.name }}'</strong> were <strong>not</strong> saved as another user made changes to the project while you were editing it.</div>
		<p><a href="{% url 'plan:edit_project' project.id %}"><strong>Try editing again</strong></a></p>
		<p onclick="getElementById('time_message_wrapper').style.display='none'"><strong>Close</strong></p>
	</div>
</div>
{% endif %}
<div class="header">
	<div class="header_logo">
		<a href="{% url 'plan:index' %}"><img class="logo" src="{% static 'plan/images/logo_uma.png' %}"/></a>
		<div class="logo_text bold">Planning</div>
	</div>
	<div class="header_logo header_menu">
		<div class="header_title regular">Projects</div>
		<ul class="header_dropbox">
			{% if project_list %}
				{% for stream in project_list %}
					<li class="header_dropbox_titlerow regular">{{ stream.name }}</li>
					{% for project in stream.projects %}
						<a href="{% url 'plan:project' project.id 0 %}"><li class="header_dropbox_row">{{ project.name }}</li></a>
					{% endfor %}
				{% endfor %}
			{% endif %}
		</ul>
	</div>
	<div class="header_logo header_menu" style="margin-right: 70px;">
		<div class="header_title regular">Staff</div>
		<ul class="header_dropbox">
			{% if staff_list %}
				{% for dep in staff_list %}
					<li class="header_dropbox_titlerow regular">{{ dep.name }}</li>
					{% for staff in dep.staff %}
						<a href="{% url 'plan:staff' staff.id %}"><li class="header_dropbox_row">{{ staff.name }}</li></a>
					{% endfor %}
				{% endfor %}
			{% endif %}
		</ul>
	</div>
	<a href="{% url 'plan:create_project' %}">
		<div class="header_logo header_menu header_create">
			<div class="header_title regular">Create Project</div>
		</div>
	</a>
	<a href="{% url 'plan:create_task' 0 0 %}">
		<div class="header_logo header_menu header_create" style="margin-right: 70px;">
			<div class="header_title regular">Create Task</div>
		</div>
	</a>
	<div class="header_logo header_date">
		<div class="logo_text bold">{{ today|date:"j F Y" }}</div>
	</div>
</div>

<div class="page_object_header">
	<h3 class="bold page_object_header_section">{{ project.stream.name }}</h3>
	<h1 class="bold page_object_header_section">{{ project.name }}</h1>
	<h3 class="bold page_object_header_section" style="font-size: 15px;">{{ project.start|date:"j F Y" }} - {{ project.end|date:"j F Y" }}</h3>
</div>
<div class="header object_page_header">
	<a href="{% url 'plan:create_task' project.id 0 %}">
		<div class="header_logo header_create" style="width: 150px; margin-right: 15px;">
			<div class="header_title">Add task</div>
		</div>
	</a>
	<a href="{% url 'plan:edit_project' project.id %}">
		<div class="header_logo header_edit" style="width: 150px;">
			<div class="header_title">Edit this project</div>
		</div>
	</a>
	<div class="header_comment">
		{% if project.comment %}
			<h3 class="light">{{ project.comment }}</h3>
		{% else %}
			<h3 class="light">No project description available.</h3>
		{% endif %}
	</div>
</div>
{% if project.tasks %}
<h3 style="margin-bottom: 0;">Dashboard</h3>
<div class="calendar_outer_wrapper" style="height: {{ dashboard.height }}px;">
	<div class="calendar_inner_wrapper">
		<div class="rows_wrapper rows_dashboard_wrapper" style="width: 35%;">
			<div class="row_title_wrapper" style="width: 40%;">
				<ul>
					<li class="row_basic row_short" style="background-color: none;"></li>
					<li class="row_basic row_short" style="background-color: none;"></li>
					<li class="row_basic" style="height: 15px; font-size: 10px !important; background-color: none;"></li>
					{% for cal in dashboard.tasks.0.calendar %}
						<li class="row_basic row_depart bold"><a href=#>{{ cal.section.name }}</a></li>
						{% for row in cal.rows %}
							<li class="row_basic"><a href="{% url 'plan:staff' row.object.id %}"><div class="staff_row_title">{{ row.object.name }}</div></a></li>
						{% endfor %}
					{% endfor %}
				</ul>
			</div>
			<div class="rows_wrapper" style="width: 60%;">
				<ul>
					<li class="row_basic row_short">
					{% for m in dashboard.tasks.0.header.month %}
						<div class="cell cell_{{ m.num_days }}_dash ">{{ m.date|date:"F"}}</div>
					{% endfor %}
					</li>			
	 				<li class="row_basic row_short">
	 				{% for d in dashboard.tasks.0.header.dates %}
	 					<div class="cell cell_dash {% if d.weekday > 4 %}end_week{% endif %}">{{ d.day }}</div>
	 				{% endfor %}
					</li>
					<li class="row_basic" style="height: 15px; font-size: 10px !important;">
					{% for d in dashboard.tasks.0.header.dates %}
	 					<div class="cell cell_dash {% if d.weekday > 4 %}end_week{% endif %}">{{ d|date:"D"}}</div>
	 				{% endfor %}
					</li>
					{% for cal in dashboard.tasks.0.calendar %}
						<li class="row_basic row_depart"></li>
						{% for row in cal.rows %}
							<li class="row_basic">
								{% for ent in row.entries %}
									{% if ent.fill %}
										{% if 0 not in ent.objects %}
											{% if ent.multi %}
											<div onclick="vistoggle(this)" class="cell cell_{{ ent.num_days }}_dash cell_active cell_red">
												<p class="task_title_box">{{ ent.multi }} tasks. Click</p>
												<div class="hidden_cal_task_info">
												{% for obj in ent.objects %}
													<div class="cal_task_info">
														<a href="{% url 'plan:task' obj.id 0 %}"><div class="bold hidden_cal_task_info_line" style="padding: 0 4px;">{{ obj.name }}</div></a>
														<a href="{% url 'plan:project' obj.project.id 0 %}"><div class="regular hidden_cal_task_info_line" style="font-size: 12px; padding: 2px 4px 0 4px;">{{ obj.project.name }}</div></a>
														<div class="light" style="font-size: 11px; padding: 3px 4px 0 4px;">{{ obj.start_date|date:"j M" }} - {{ obj.end_date|date:"j M" }}</div>
														{% if obj.comment %}
															<div class="light" style="font-size: 11px; padding: 2px 4px 2px 4px;">{{ obj.comment }}</div>
														{% else %}
															<div class="light" style="font-size: 11px; padding: 2px 4px 2px 4px;">No comments</div>
														{% endif %}
													</div>
												{% endfor %}
												</div>
											</div>
											{% else %}
												<div onclick="vistoggle(this)" class="cell cell_{{ ent.num_days }}_dash cell_active">
													<p class="task_title_box">{{ ent.objects.0.name }}</p>
													<div class="hidden_cal_task_info">
														<div class="cal_task_info">
															<a href="{% url 'plan:task' ent.objects.0.id 0 %}"><div class="bold hidden_cal_task_info_line" style="padding: 0 4px;">{{ ent.objects.0.name }}</div></a>
															<a href="{% url 'plan:project' ent.objects.0.project.id 0 %}"><div class="regular hidden_cal_task_info_line" style="font-size: 12px; padding: 2px 4px 0 4px;">{{ ent.objects.0.project.name }}</div></a>
															<div class="light" style="font-size: 11px; padding: 3px 4px 0 4px;">{{ ent.objects.0.start_date|date:"j M" }} - {{ ent.objects.0.end_date|date:"j M" }}</div>
															{% if ent.objects.0.comment %}
																<div class="light" style="font-size: 11px; padding: 3px 4px 2px 4px;">{{ ent.objects.0.comment }}</div>
															{% else %}
																<div class="light" style="font-size: 11px; padding: 3px 4px 2px 4px;">No comments</div>
															{% endif %}
														</div>
													</div>
												</div>
											{% endif %}
										{% else %}
											<div class="cell cell_{{ ent.num_days }}_dash end_week"></div>
										{% endif %}
									{% else %}
										<div class="cell cell_dash"></div>
									{% endif %}
								{% endfor %}
							</li>
						{% endfor %}
					{% endfor %}	
				</ul>
			</div>
		</div>
		<div class="rows_wrapper rows_dashboard_wrapper_projects">
			<ul>
				<li class="row_basic row_short row_title"><div class="cell cell_7_dash bold">Project Tasks</div></li>
				{% for strm in dashboard.projects_this_week %}
					<li class="row_basic row_depart bold"><a href=#>{{ strm.stream.name }}</a></li>
					{% for prjct in strm.projects %}
						<li class="row_basic">
							<a href="{% url 'plan:task' prjct.id 0 %}">
								<div class="project_row_title" style="width: 40%;">{{ prjct.name }}</div>
							</a>
							<a href="{% url 'plan:staff' prjct.staff.id %}">
								<div class="project_row_title" style="width: 35%;">{{ prjct.staff.name }}</div>
							</a>
							<div class="project_row_dates" style="width: 25%;">{{ prjct.start_date.day }} {{ prjct.start_date|date:"b" }} - {{ prjct.end_date.day }} {{ prjct.end_date|date:"b" }}</div>
						</li>
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
		<div class="rows_wrapper rows_dashboard_wrapper_projects">
			<ul>
				<li class="row_basic row_short row_title bold"><div class="cell cell_7_dash">Next Deadlines</div></li>
				{% for strm in dashboard.deadlines %}
				<li class="row_basic row_depart bold"><a href=#>{{ strm.stream.name }}</a></li>
					{% for tsk in strm.tasks %}
					<li class="row_basic row_tall">
						<a href="{% url 'plan:task' tsk.id 0 %}"><div class="task_row_title project_row_title">{{ tsk.name }}</div></a>
						<div class="double_row_task">
							<a href="{% url 'plan:project' tsk.project.id 0 %}"><div class="project_row_task project_row_title">{{ tsk.project }}</div></a>
							<a href="{% url 'plan:staff' tsk.staff.id %}"><div class="project_row_task project_row_title">{{ tsk.staff }}</div></a>
						</div>
						<div class="task_row_dates">{{ tsk.end_date|date:"D" }}, {{ tsk.end_date.day }} {{ tsk.end_date|date:"b" }}</div>
					</li>
					{% endfor %}
				{% endfor %}
				<div class="dashboard_section_description light">Next deadlines are tasks that are scheduled to end in 10 calendar days.</div>
				<li class="row_basic row_short" style="background: none !important;"></li>
				<li class="row_basic row_short row_title bold"><div class="cell cell_7_dash">Upcoming Tasks: start date</div></li>
				{% for strm in dashboard.upcoming %}
				<li class="row_basic row_depart bold"><a href=#>{{ strm.stream.name }}</a></li>
					{% for tsk in strm.tasks %}
					<li class="row_basic row_tall">
						<a href="{% url 'plan:task' tsk.id 0 %}"><div class="task_row_title project_row_title">{{ tsk.name }}</div></a>
						<div class="double_row_task">
							<a href="{% url 'plan:project' tsk.project.id 0 %}"><div class="project_row_task project_row_title">{{ tsk.project }}</div></a>
							<a href="{% url 'plan:staff' tsk.staff.id %}"><div class="project_row_task project_row_title">{{ tsk.staff }}</div></a>
						</div>
						<div class="task_row_dates">{{ tsk.start_date|date:"D" }}, {{ tsk.start_date.day }} {{ tsk.start_date|date:"b" }}</div>
					</li>
					{% endfor %}
				{% endfor %}
				<div class="dashboard_section_description light">Upcoming are tasks that are scheduled to start in 10 calendar days.</div>
			</ul>
		</div>

	</div>
</div>
<h3 class="section_title">Calendar</h3>
<div class="calendar_outer_wrapper" style="height: {{ calendar.0.dimensions.height }}px;">
	<div class="calendar_inner_wrapper">
		<div class="rows_wrapper rows_dashboard_wrapper" style="width: 100%;">
			<div class="row_title_wrapper" style="width: 15%;">
				<ul>
					<li class="row_basic row_short" style="background-color: none;"></li>
					<li class="row_basic row_short" style="background-color: none;"></li>
					<li class="row_basic" style="height: 15px; font-size: 10px !important; background-color: none;"></li>
					{% for cal in calendar.0.calendar %}
						<li class="row_basic row_depart bold"><a href=#>{{ cal.section.name }}</a></li>
						{% for row in cal.rows %}
							<li class="row_basic"><a href="{% url 'plan:task' row.object.id 0 %}"><div class="staff_row_title">{{ row.object.name }}</div></a></li>
						{% endfor %}
					{% endfor %}
				</ul>
			</div>
			<div class="rows_wrapper" style="width: 85%; overflow-x: scroll;">
				<ul style="width: {{ calendar.0.dimensions.width }}px;">
					<li class="row_basic row_short">
					{% for m in calendar.0.header.month %}
						<div class="cell cell_fix_{{ m.num_days }} ">{{ m.date|date:"F"}}</div>
					{% endfor %}
					</li>			
	 				<li class="row_basic row_short">
	 				{% for d in calendar.0.header.dates %}
	 					<div class="cell cell_fix {% if d.weekday > 4 %}end_week{% endif %}">{{ d.day }}</div>
	 				{% endfor %}
					</li>
					<li class="row_basic" style="height: 15px; font-size: 10px !important;">
					{% for d in calendar.0.header.dates %}
	 					<div class="cell cell_fix {% if d.weekday > 4 %}end_week{% endif %}">{{ d|date:"D"}}</div>
	 				{% endfor %}
					</li>
					{% for cal in calendar.0.calendar %}
						<li class="row_basic row_depart"></li>
						{% for row in cal.rows %}
							<li class="row_basic">
								{% for ent in row.entries %}
									{% if ent.fill %}
										{% if 0 not in ent.objects %}
											{% if ent.multi %}
											<a href="{% url 'plan:staff' ent.objects.0.staff.id %}">
											<div onclick="vistoggle(this)" class="cell cell_fix_{{ ent.num_days }} cell_active cell_red">
												<p class="task_title_box">{{ ent.multi }} tasks. Click</p>
											</div>
											</a>
											{% else %}
											<a href="{% url 'plan:staff' ent.objects.0.staff.id %}">
												<div onclick="vistoggle(this)" class="cell cell_fix_{{ ent.num_days }} cell_active">
													<p class="task_title_box">{{ ent.objects.0.staff.name }}</p>
												</div>
											</a>
											{% endif %}
										{% else %}
											<div class="cell cell_fix_{{ ent.num_days }} end_week"></div>
										{% endif %}
									{% else %}
										<div class="cell cell_fix"></div>
									{% endif %}
								{% endfor %}
							</li>
						{% endfor %}
					{% endfor %}	
				</ul>
			</div>
		</div>
	</div>
</div>
<h3 class="section_title">Staff</h3>
<div class="cal_settings_wrapper">
	<form class="cal_settings_form" action="{% url 'plan:project' project.id 0 %}" method="post">
	{% csrf_token %}
		<input style="display: none" type="text" name="cal_setting" value="this_week" required/>
		<input class="cal_setting {% if cal_setting == 'this_week' %}cal_set_chosen{% endif %}" type="submit" value="This Week" />
	</form>
	<form class="cal_settings_form" action="{% url 'plan:project' project.id 0 %}" method="post">
	{% csrf_token %}
		<input style="display: none" type="text" name="cal_setting" value="this_month" required/>
		<input class="cal_setting {% if cal_setting == 'this_month' %}cal_set_chosen{% endif %}" type="submit" value="This month" />
	</form>
	<form class="cal_settings_form" action="{% url 'plan:project' project.id 0 %}" method="post">
	{% csrf_token %}
		<input style="display: none" type="text" name="cal_setting" value="last_month" required/>
		<input class="cal_setting {% if cal_setting == 'last_month' %}cal_set_chosen{% endif %}" type="submit" value="Last month" />
	</form>
	<a href="{% url 'plan:calendar_project' project.id %}">
	<div class="cal_settings_form" style="line-height: 30px;">
		<div class="cal_setting regular">All</div>
	</div>
	</a>
</div>
{% for line in alt_cal %}
<div id="cal_line_{{ forloop.counter }}" class="calendar_outer_wrapper" style="height: {{ line.dimensions.height }}px; {% if forloop.counter > 1%}display: none;{% endif %}">
	<div class="calendar_inner_wrapper">
		<div class="row_title_wrapper">
			<ul>
				<li class="row_basic row_short" style="background-color: none;"></li>
				<li class="row_basic row_short" style="background-color: none;"></li>
				<li class="row_basic" style="height: 15px; font-size: 10px !important; background-color: none;"></li>
				{% for cal in line.calendar %}
					<li class="row_basic row_depart"><a href=#>{{ cal.section.name }}</a></li>
					{% for row in cal.rows %}
						<li class="row_basic"><a href="{% url 'plan:staff' row.object.id %}"><div class="staff_row_title">{{ row.object.name }}</div></a></li>
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
		<div class="rows_wrapper">
			<ul>
				<li class="row_basic row_short">
				{% for m in line.header.month %}
					<div class="cell cell_{{ m.num_days }} ">{{ m.date|date:"F"}}</div>
				{% endfor %}
				</li>			
 				<li class="row_basic row_short">
 				{% for d in line.header.dates %}
 					<div class="cell cell {% if d.weekday > 4 %}end_week{% endif %}">{{ d.day }}</div>
 				{% endfor %}
				</li>
				<li class="row_basic" style="height: 15px; font-size: 10px !important;">
				{% for d in line.header.dates %}
 					<div class="cell cell {% if d.weekday > 4 %}end_week{% endif %}">{{ d|date:"D"}}</div>
 				{% endfor %}
				</li>
				{% for cal in line.calendar %}
					<li class="row_basic row_depart"></li>
					{% for row in cal.rows %}
						<li class="row_basic">
							{% for ent in row.entries %}
								{% if ent.fill %}
									{% if 0 not in ent.objects %}
										{% if ent.multi %}
										<div onclick="vistoggle(this)" class="cell cell_{{ ent.num_days }} cell_active cell_red">
											<p class="task_title_box">{{ ent.multi }} tasks. Click</p>
											<div class="hidden_cal_task_info">
											{% for obj in ent.objects %}
												<div class="cal_task_info">
													<a href="{% url 'plan:task' obj.id 0 %}"><div class="bold hidden_cal_task_info_line" style="padding: 0 4px;">{{ obj.name }}</div></a>
													<a href="{% url 'plan:project' obj.project.id 0 %}"><div class="regular hidden_cal_task_info_line" style="font-size: 12px; padding: 2px 4px 0 4px;">{{ obj.project.name }}</div></a>
													<div class="light" style="font-size: 11px; padding: 3px 4px 0 4px;">{{ obj.start_date|date:"j M" }} - {{ obj.end_date|date:"j M" }}</div>
													{% if obj.comment %}
														<div class="light" style="font-size: 11px; padding: 2px 4px 2px 4px;">{{ obj.comment }}</div>
													{% else %}
														<div class="light" style="font-size: 11px; padding: 2px 4px 2px 4px;">No comments</div>
													{% endif %}
												</div>
											{% endfor %}
											</div>
										</div>
										{% else %}
											<div onclick="vistoggle(this)" class="cell cell_{{ ent.num_days }} cell_active">
												<p class="task_title_box">{{ ent.objects.0.name }}</p>
												<div class="hidden_cal_task_info">
													<div class="cal_task_info">
														<a href="{% url 'plan:task' ent.objects.0.id 0 %}"><div class="bold hidden_cal_task_info_line" style="padding: 0 4px;">{{ ent.objects.0.name }}</div></a>
														<a href="{% url 'plan:project' ent.objects.0.project.id 0 %}"><div class="regular hidden_cal_task_info_line" style="font-size: 12px; padding: 2px 4px 0 4px;">{{ ent.objects.0.project.name }}</div></a>
														<div class="light" style="font-size: 11px; padding: 3px 4px 0 4px;">{{ ent.objects.0.start_date|date:"j M" }} - {{ ent.objects.0.end_date|date:"j M" }}</div>
														{% if ent.objects.0.comment %}
															<div class="light" style="font-size: 11px; padding: 2px 4px 2px 4px;">{{ ent.objects.0.comment }}</div>
														{% else %}
															<div class="light" style="font-size: 11px; padding: 2px 4px 2px 4px;">No comments</div>
														{% endif %}
													</div>
												</div>
											</div>
										{% endif %}
									{% else %}
										<div class="cell cell_{{ ent.num_days }} end_week"></div>
									{% endif %}
								{% else %}
									<div class="cell"></div>
								{% endif %}
							{% endfor %}
						</li>
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endfor %}
<div class="header">
	<div id="cal_line_open_btn" class="header_logo header_menu header_hide_show" onclick="calopen()">
		<div class="header_btn regular">Show next 5 weeks</div>
	</div>
	<div id="cal_line_close_btn" class="header_logo header_menu header_hide_show" onclick="calclose()" style="display: none;">
		<div class="header_btn regular">Hide next 5 weeks</div>
	</div>
</div>
{% else %}
<div class="dashboard_section_description light" style="text-align: center; font-size: 15px; margin: 20px 0;">Currently there are no tasks in this project</div>
{% endif %}
<div class="lists_wrapper">
	<div class="list">
		<h3>Active Projects:</h3>
		{% if project_list %}
		<ul>
			{% for stream in project_list %}
			<li class="bottom_list_title bold">{{ stream.name }}</li>
				{% for project in stream.projects %}
					<li><a class="bottom_list_link" href="{% url 'plan:project' project.id 0 %}">{{ project.name }}</a></li>
				{% endfor %}
			{% endfor %}
		</ul>
	</div>
	<div class="list">
		{% endif %}
		<h3>Staff:</h3>
		{% if staff_list %}
		<ul>
			{% for dep in staff_list %}
			<li class="bottom_list_title bold">{{ dep.name }}</li>
				{% for staff in dep.staff %}
					<li><a class="bottom_list_link" href="{% url 'plan:staff' staff.id %}">{{ staff.name }}</a></li>
				{% endfor %}
			{% endfor %}
		</ul>
		{% endif %}
	</div>
</div>

<script>
function vistoggle(t) {
	event.stopPropagation();
	t.classList.toggle('visible');
}

function calopen() {
	document.getElementById("cal_line_2").style.display="block";
	document.getElementById("cal_line_open_btn").style.display="none";
	document.getElementById("cal_line_close_btn").style.display="block";
}
function calclose() {
	document.getElementById("cal_line_2").style.display="none";
	document.getElementById("cal_line_open_btn").style.display="block";
	document.getElementById("cal_line_close_btn").style.display="none";
}

b = document.getElementsByTagName("BODY")[0];
b.addEventListener("click", function(){
	var x = document.getElementsByClassName("visible");
	var num = x.length;
	for (i = 0; i < num; i++) {
    	x[0].classList.toggle('visible');
	}
});
</script>
